Source: libmali
Priority: optional
Maintainer: Putin Lee <putin.li@rock-chips.com>
Uploaders: Jeffy Chen <jeffy.chen@rock-chips.com>
Build-Depends: debhelper (>= 11),
               meson,
               pkg-config,
               libstdc++6,
               libgbm-dev,
               libdrm-dev,
               libwayland-dev,
               libx11-xcb1,
               libxcb-dri2-0,
               libxdamage1,
               libxext6,
               libwayland-client0
Standards-Version: 4.1.3
Section: libs
Homepage: https://github.com/rockchip-linux/libmali
Vcs-Git: https://github.com/rockchip-linux/libmali
Vcs-Browser: https://github.com/rockchip-linux/libmali

Package: libmali-bifrost-g52-r44p0-r1p0-wayland-gbm
Architecture: arm64
Provides: libmali, linux-gpu-mali-wayland, libegl1-mesa, libegl1, libgles2-mesa, libegl1-mesa-dev, libgles2-mesa-dev, libglvnd-dev, libgles1-mesa, mesa-common-dev, libgbm1, libwayland-egl1
Conflicts: libmali, linux-gpu-mali-fbdev, linux-gpu-mali-x11, linux-gpu-mali-wayland, linux-gpu-mali-gbm
Replaces: libmali, linux-gpu-mali-fbdev, linux-gpu-mali-x11, linux-gpu-mali-wayland, linux-gpu-mali-gbm, libegl1-mesa, libegl1, libgles2, libgles2-mesa, libegl1-mesa-dev, libgles2-mesa-dev, libglvnd-dev, libgles1, libgles1-mesa, mesa-common-dev, libgl-dev, libegl-dev, libgles-dev, libgbm-dev, libgbm1, libwayland-egl1, libwayland-dev
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Mali GPU User-Space Binary Drivers
